<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>ERROR</title>
</head>

<style>
    body {
        background-color: #DCE2F0;
    }

    h1 {
        font-size: 150px;
        color: #50586C;
    }

    a {
        color: #50586C;
        font-size: 50px;
    }

    .text {
        text-align: center;
    }
</style>

<body>
    <div class="text">
        <h1>{{.Text}}</h1>
        <a href="http://localhost:8080/index">Return to index page</a>
    </div>
</body>

</html>